<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="InventorFlatExport.Properties.DxfSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="InventorFlatExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        
        <InventorFlatExport.Properties.DxfSettings>
            <setting name="OuterProfileLineType" serializeAs="String">
                <value>DashDot</value>
            </setting>
            <setting name="InteriorProfilesLayer" serializeAs="String">
                <value>InnerOutlines</value>
            </setting>
            <setting name="OuterProfileLayer" serializeAs="String">
                <value>Outline</value>
            </setting>
            <setting name="OuterProfileLayerColor" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="InteriorProfilesLayerColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="InteriorProfilesLineType" serializeAs="String">
                <value>kDefaultLineType</value>
            </setting>
            <setting name="BendUpLayer" serializeAs="String">
                <value>BendingLines</value>
            </setting>
            <setting name="BendUpLayerColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="BendUpLineType" serializeAs="String">
                <value>kDashedLineType</value>
            </setting>
            <setting name="BendDownLayer" serializeAs="String">
                <value>BendingLines</value>
            </setting>
            <setting name="BendDownLayerColor" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="BendDownLineType" serializeAs="String">
                <value>kDashedLineType</value>
            </setting>
        </InventorFlatExport.Properties.DxfSettings>
        <InventorFlatExport.Properties.Settings>
            <setting name="OuterProfileLineType" serializeAs="String">
                <value>kDefaultLineType</value>
            </setting>
            <setting name="InteriorProfilesLayer" serializeAs="String">
                <value>InnerOutlines</value>
            </setting>
            <setting name="OuterProfileLayer" serializeAs="String">
                <value>Outline</value>
            </setting>
            <setting name="OuterProfileLayerColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="InteriorProfilesLayerColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="InteriorProfilesLineType" serializeAs="String">
                <value>kDefaultLineType</value>
            </setting>
            <setting name="BendUpLayer" serializeAs="String">
                <value>BendingLines</value>
            </setting>
            <setting name="BendUpLayerColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="BendUpLineType" serializeAs="String">
                <value>kDashedLineType</value>
            </setting>
            <setting name="BendDownLayer" serializeAs="String">
                <value>BendingLines</value>
            </setting>
            <setting name="BendDownLayerColor" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="BendDownLineType" serializeAs="String">
                <value>kDashedLineType</value>
            </setting>
        </InventorFlatExport.Properties.Settings>
    </userSettings>
</configuration>